/*colors */
$color-1: #000000;
$color-2: #FFFFFF;
$color-3: #d6d8e7; 
$color-4: #5a6f07;
$color-5: #ccc;
$color-6: #43425d;
$color-7: #a0a3bd;
$color-8: #dd6161;
$color-9: red;
$color-10: grey;
$color-11: #f2f2f2;


/*breakpoints*/
$breakpoints: (
    mobile-max: 425px,
    tablet-max: 768px,
    laptop: 1024px,
    
);